@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Poppins&display=swap");

body {
  color: #000;
}
.font-pt {
  font-family: "PT Serif", serif;
}
.bg-yellow {
  background: #ffc017;
}

.border-bottom-dark {
  border-bottom: 1px solid #414141;
}
.aside-buttons > li {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .mobil-bg {
    background: rgb(122, 90, 0);
    background: linear-gradient(
      142deg,
      rgba(122, 90, 0, 1) 0%,
      rgba(255, 187, 0, 1) 90%,
      rgba(255, 233, 173, 1) 100%
    );
    color: #fff;
  }
  .mobil-bg a {
    color: #fff;
    border: 1px solid #fff;
  }
  .mobil-bg a:hover {
    color: #000;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 1px 2px 16px #fff;
  }
}
